body {
  background-color: whitesmoke;
  height: 100vh;
  background-size: cover;
}

h2 {
  display: flex;
  justify-content: center;
}

.title {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  padding-bottom: 10px;
  /* bold; */
}

.content {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  column-count: 2;
  text-align: justify;
}

.article-details {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  font-weight: bold;
}

.article-grid {
  margin: 0 auto;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 9fr;
}

.post-grid {
  padding-left: 20px;
}

.author-img {
  border-radius: 50%;
  border: 3px solid salmon;
}

.heading-rule {
  border: 1px solid salmon;
}

.counters {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}

.likes-counter, .dislikes-counter {
  padding-bottom: 10px;
}
/*
@media only screen and (max-width: 600px) {
  body {
    background-color: blue;
  }
} */
